/*index page*/
.tagline {
	font-size: 66px;
	font-style: normal;
	font-weight: 700;
	line-height: 86px;
	letter-spacing: 0em;
	text-align: left;
	color: #19464F;
}

.textFirstPage {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #2B3C58;
}

.btn-reg {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 18px 78px;
	background: #93B1B9;
	border-radius: 8px;
	font-size: 20px;
}

.btn-vhod {
	color: #404040;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 18px 62px;
	border-radius: 8px;
	font-size: 20px;
	border: 3px solid #93B1B9;
	background: none;
}
.btn-vhod:hover {
	background: #93B1B9;
	color: white;
	transition: 0.7s;
}
.btn-reg:hover {
	color: #5A6684;
	border: 3px solid #93B1B9;
	padding: 18px 76px;
	background: none;
	transition: 0.7s;
}

/*sign-in page*/

.welcome {
	font-size: 34px;
	font-style: normal;
	font-weight: 800;
	line-height: 45px;
	letter-spacing: -0.02em;
	text-align: center;
}

.paragraph {
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
}

.e-mail {
	width: 90%;
	border: 1px solid #4975E9;
	box-sizing: border-box;
	border-radius: 8px;
	height: 45px;
}

.forgotPass {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	color: #1B2F48;
	margin-left: 70%;
}

.btn-signIn {
	background: #2B3C58;
	border-radius: 8px;
	padding: 18px 106px;
	color: white;
}

.btn-signIn:hover {
	color: #2B3C58;
	border: 3px solid #2B3C58;
	padding: 18px 106px;
	background: none;
	transition: 0.7s;
}

.ellipse1 {
	position: absolute;
	left: 45vw;
	top: 8vh;
	z-index: -1;
}

.ellipse2 {
	position: absolute;
	left: 44vw;
	top: 32vh;
	z-index: -2;
}